@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;700&display=swap');
/*font*/
#page-title{
    color: #000;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.title-font{
    color: #000;
    text-align: justify;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.graph-legend-title{
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 32.5px */
}
.graph-legend-analysis-details{
    color: var(--Grey, #747474);
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}
.sleep-graph-content-font{
    color: #000;
    font-family: Inter;
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 42.9px */
}
.content-font{
    color: #000;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.time-setting-font{
    color: #747474; 
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*box*/
#header{
    display: flex;
    width: 1916px;
    align-items: center;
    border-bottom: 0.5px solid #000;
    background: #FFF;
}
#body-section{
    background: #F9F9F9;
}
#left-section{
    width: 879px;
    height: 827px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35), 0px 4px 4px 0px rgba(0, 0, 0, 0.10) inset;
}
#topside{
    width: 879px;
    height: 346px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35), 0px 4px 4px 0px rgba(0, 0, 0, 0.10) inset;
}
#bottom{
    width: 879px;
    height: 444px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35), 0px 4px 4px 0px rgba(0, 0, 0, 0.10) inset;
}
#sleep-graph{
    width: 329.043px;
    height: 330px;
    flex-shrink: 0;
}
/*position*/
p{
    margin: 0;
}
#time-setting, #time-setting-am-pm, #time-setting-hour, #time-setting-min{
    display: flex; /* 요소들을 수평으로 배치합니다. */
    align-items: center; /* 요소들을 수직으로 가운데 정렬합니다. */
}
#nav-arrow-down-1, #nav-arrow-down-2{
    margin-right: 20px;
}
/*grid*/
#grid{
    display: grid;
    grid-template-rows: 131px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "body-section"
}
#header{
    display: grid;
    grid-template-rows: 131px;
    grid-template-columns: 1fr 1.25fr;
    grid-template-areas:
    "back-button page-title"
}
#body-section{
    display: grid;
    grid-template-rows: 37px 1fr 85px;
    grid-template-columns: 66px 1fr 46px 1fr 66px;
    grid-template-areas: 
    ". . . . ."
    ". left-section . right-section ."
    ". . . . ."
}
#left-section{
    display: grid;
    grid-template-rows: 41px 47px 64px 330px 40px 1fr 67px;
    grid-template-columns: 80px 1fr 80px;
    grid-template-areas: 
    ". . ."
    ". left-section-title ."
    ". . ."
    ". sleep-graph-section ."
    ". . ."
    ". sleep-graph-content ."
    ". . ."
}
#graph-legend-deep-sleep-contents{
    display: grid;
    grid-template-rows: 40px 0px 40px;
    grid-template-columns: 180px;
    grid-template-areas: 
    "graph-legend-deep-sleep-title"
    "."
    "graph-legend-deep-sleep-analysis-details"
}
#graph-legend-shallow-sleep-contents{
    display: grid;
    grid-template-rows: 40px 40px;
    grid-template-columns: 180px;
    grid-template-areas: 
    "graph-legend-shallow-sleep-title"
    "graph-legend-shallow-sleep-analysis-details"
}
#graph-legend-awake-contents{
    display: grid;
    grid-template-rows: 40px 40px;
    grid-template-columns: 180px;
    grid-template-areas: 
    "graph-legend-awake-title"
    "graph-legend-awake-analysis-details"
}
#graph-legend-deep-sleep{
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 40px 15px 180px;
    grid-template-areas: 
    "graph-legend-deep-sleep-img . graph-legend-deep-sleep-contents"
}
#graph-legend-shallow-sleep{
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 40px 15px 180px;
    grid-template-areas: 
    "graph-legend-shallow-sleep-img . graph-legend-shallow-sleep-contents"
}
#graph-legend-awake{
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 40px 15px 180px;
    grid-template-areas: 
    "graph-legend-awake-img . graph-legend-awake-contents"
}
#graph-legend{
    display: grid;
    grid-template-rows: 50px 80px 20px 80px 20px 80px 50px;
    grid-template-columns: 180px;
    grid-template-areas: 
    "."
    "graph-legend-deep-sleep"
    "."
    "graph-legend-shallow-sleep"
    "."
    "graph-legend-awake"
    "."
}
#sleep-graph-section{
    display: grid;
    grid-template-rows: 330px;
    grid-template-columns: 330px 36px 180px;
    grid-template-areas: 
    "sleep-graph . graph-legend"
}
#right-section{
    display: grid;
    grid-template-rows: 346px 37px 444px;
    grid-template-columns: 879px;
    grid-template-areas: 
    "topside"
    "."
    "bottom"
}
#topside{
    display: grid;
    grid-template-rows: 47px 50px 30px 35px 20px 35px 20px 35px 35px 20px;
    grid-template-columns: 83px 1fr 183px;
    grid-template-areas: 
    ". . ."
    ". topside-title ."
    ". . ."
    ". time-setting-ment ."
    ". . ."
    ". time-setting ."
    ". . ."
    ". sleep-quality-recomendation-1 ."
    ". sleep-quality-recomendation-2 ."
    ". . ."
}
#bottom{
    display: grid;
    grid-template-rows: 28px 47px 30px 244px 1fr 1fr 33px;
    grid-template-columns: 83px 1fr 200px;
    grid-template-areas: 
    ". . ."
    ". bottom-title ."
    ". . ."
    ". sleep-quality-chart ."
    ". sleep-quality-analysis-1 ."
    ". sleep-quality-analysis-2 ."
    ". . ."
}
#header{
    grid-area: header;
}
#back-button{
    grid-area: back-button;
}
#page-title{
    grid-area: page-title;
}
#body-section{
    grid-area: body-section;
}
#left-section{
    grid-area: left-section;
}
#right-section{
    grid-area: right-section;
}
#left-section-title{
    grid-area: left-section-title;
}
#sleep-graph-section{
    grid-area: sleep-graph-section;
}
#sleep-graph{
    grid-area: sleep-graph;
}
#graph-legend{
    grid-area: graph-legend;
}
#graph-legend-deep-sleep{
    grid-area: graph-legend-deep-sleep;
}
#graph-legend-deep-sleep-img{
    grid-area: graph-legend-deep-sleep-img;
}
#graph-legend-deep-sleep-contents{
    grid-area: graph-legend-deep-sleep-contents;
}
#graph-legend-deep-sleep-title{
    grid-area: graph-legend-deep-sleep-title;
}
#graph-legend-deep-sleep-analysis-details{
    grid-area: graph-legend-deep-sleep-analysis-details;
}
#graph-legend-shallow-sleep{
    grid-area: graph-legend-shallow-sleep;
}
#graph-legend-shallow-sleep-img{
    grid-area: graph-legend-shallow-sleep-img;
}
#graph-legend-shallow-sleep-contents{
    grid-area: graph-legend-shallow-sleep-contents;
}
#graph-legend-shallow-sleep-title{
    grid-area: graph-legend-shallow-sleep-title;
}
#graph-legend-shallow-sleep-analysis-details{
    grid-area: graph-legend-shallow-sleep-analysis-details;
}
#graph-legend-awake{
    grid-area: graph-legend-awake;
}
#graph-legend-awake-img{
    grid-area: graph-legend-awake-img;
}
#graph-legend-awake-contents{
    grid-area: graph-legend-awake-contents;
}
#graph-legend-awake-title{
    grid-area: graph-legend-awake-title;
}
#graph-legend-awake-analysis-details{
    grid-area: graph-legend-awake-analysis-details;
}
#sleep-graph-content{
    grid-area: sleep-graph-content;
}
#topside{
    grid-area: topside;
}
#topside-title{
    grid-area: topside-title;
}
#time-setting-ment{
    grid-area: time-setting-ment;
}
#time-setting{
    grid-area: time-setting;
}
#time-setting-am-pm{
    grid-area: time-setting-am-pm;
}
#am-pm{
    grid-area: am-pm;
}
#time-setting-hour{
    grid-area: time-setting-hour;
}
#time-setting-min{
    grid-area: time-setting-min;
}
#hour{
    grid-area: hour;
}
#min{
    grid-area: min;
}
#sleep-quality-recomendation-1{
    grid-area: sleep-quality-recomendation-1;
}
#sleep-quality-recomendation-2{
    grid-area: sleep-quality-recomendation-2;
}
#bottom{
    grid-area: bottom;
}
#bottom-title{
    grid-area: bottom-title;
}
#sleep-quality-chart{
    grid-area: sleep-quality-chart;
}
#sleep-quality-analysis-1{
    grid-area: sleep-quality-analysis-1;
}
#sleep-quality-analysis-2{
    grid-area: sleep-quality-analysis-2;
}
#nav-arrow-down-1{
    grid-area: nav-arrow-down-1;
}
#nav-arrow-down-2{
    grid-area: nav-arrow-down-2;
}
#nav-arrow-down-3{
    grid-area: nav-arrow-down-3;
}