body {
    background-color: #E6EFDD;
    margin: 0; /* 기본 마진 제거 */
    padding: 0; /* 기본 패딩 제거 */
}

#outer-section {
    height: 100vh;
    display: grid;
    grid-row: 100px 1fr 100px;
}

#my-section1 {
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden; /* 넘치는 부분 숨김 */
    text-overflow: ellipsis; /* 넘치는 부분에 대한 점 표시 (...) */
    display: grid;
    grid-template-rows: 31px 1fr 31px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        ". . ."
        "it1 it2 ."
        ". . .";
    height: 100px;
    max-height: 133px;
    border-bottom: 0.5px solid #000;
}

#it1 {
    grid-area: it1;
    color: black;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 61px;
}

#it2 {
    grid-area: it2;
    color: #000;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

#my-section2 {
    display: grid;
    grid-template-rows: 20px 1fr 1fr 20px;
    grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
    grid-template-areas: 
        ". . . . ."
        ". it4 it5 it6 ."
        ". it7 it8 it9 ."
        " . . . . .";
    grid-gap:40px;
    max-height:833px;
}
.section-item2 {
    /* max-height: 280px; */
    border-radius: 20px;
    border: 3px solid #401D1D;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left:30px;
    padding-top:30px;
}

#home-picture{
    padding-top:80px;
    text-align: right;
    padding-right:20px;
}

#it4 {
    grid-area: it4;
}
#it5 {
    grid-area: it5;
}
#it6 {
    grid-area: it6;
}
#it7 {
    grid-area: it7;
}
#it8{
    grid-area: it8;
}
#it9{
    grid-area: it9;
}

#my-section3 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 15fr 1fr 1fr 1fr 15fr;
    grid-template-areas: 
        ". it10 it11 it12 .";
    max-height: 133px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20) inset;
}

#it10 {
    grid-area: it10;
    margin:50px;
}

#it11 {
    grid-area: it11;
    margin:50px;
}

#it12 {
    grid-area: it12;
    margin:50px;
}

