body {
    background-color: #E6EFDD;
    margin: 0; /* 기본 마진 제거 */
    padding: 0; /* 기본 패딩 제거 */
}
#my-section1 {
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden; /* 넘치는 부분 숨김 */
    text-overflow: ellipsis; /* 넘치는 부분에 대한 점 표시 (...) */
    display: grid;
    grid-template-rows: 1fr 1fr 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        ". ."
        "it1 ."
        "it2 it2";
    max-height: 125px;
}

#it1 {
    grid-area: it1;
    color: black;
    font-family: Inter;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 61px;
}
#it2{
    grid-area:it2;
    margin-left:50px;
    margin-right:70px;
    background: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

#my-section2 {
    display: grid;
    grid-template-rows:10px 60vh 10px;
    grid-template-columns: 10px 1fr 3fr 10px;
    grid-template-areas:
        ". . . ."
        ". it3 it4 ."
        ". . . .";
    max-height: 700px;
    grid-gap:30px;
}
#left-section{
    grid-area:it3;
    background: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    padding:40px;
}

#left-box{
    display: grid;
    grid-template-rows:1fr 0.15fr 4fr 2fr 10px;
    grid-template-columns: 10px 1fr 0.5fr 10px;
    grid-template-areas:
        ". it3-1 . ."
        ". it3-2 it3-2 ."
        ". it3-3 it3-5 ."
        ". it3-4 it3-5 ."
        ". . it3-5 .";
    max-height: 630px;
}
#it3-1{
    grid-area:it3-1;
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden; /* 넘치는 부분 숨김 */
    text-overflow: ellipsis; /* 넘치는 부분에 대한 점 표시 (...) */
}
#it3-2{
    grid-area:it3-2;
    border-radius: 20px;
    background: #E6EFDD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
#it3-3{
    grid-area:it3-3;
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: italic;
    font-weight: 168;
    line-height: normal;
    margin-top:40px;
    white-space: nowrap; /* 줄 바꿈 방지 */
}
#it3-4{
    grid-area:it3-4;
    color: #000;
    font-family: Inter;
    font-size: 35px;
    font-style: italic;
    font-weight: 168;
    line-height: normal;
    text-align: left;
    position: absolute;
    bottom:30px;
}
#it3-5{
    grid-area:it3-5;
    margin-top:100px;
}

#right-section{
    grid-area:it4;
    background: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding:40px;
    border-radius: 30px;
}
#right-box{
    display: grid;
    grid-template-rows: 10px 2fr 1fr 2fr 1fr 2fr 10px;
    grid-template-columns: 1fr 0.01fr 9fr;
    grid-template-areas: 
        ". . ."
        "it4-1 it4-2 it4-3"
        ". . ."
        "it4-4 it4-5 it4-6"
        ". . ."
        "it4-7 it4-8 it4-9"
        ". . .";
    max-height: 630px;
}
.mainpage-font{
    color: #000;
    font-family: Inria Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 20px;
    background: #E6EFDD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    padding:10px;
    display:inline-block;
}

#it4-1{
    grid-area:it4-1;
}
#it4-2{
    grid-area:it4-2;
    position: relative;
    width: 0;
    height: 0;
    border-left: 20px solid transparent; /* 왼쪽 변 */
    border-right: 20px solid transparent; /* 오른쪽 변 */
    border-bottom: 40px solid #E6EFDD; /* 아랫면 */
    transform: rotate(270deg); /* 270도(시계 반대방향) 회전 */
    top: 25px; /* 기본 위치 유지 */
    left:8px;
}
#it4-3{
    grid-area:it4-3;
}
#it4-4{
    grid-area:it4-4;
}
#it4-5{
    grid-area:it4-5;
    position: relative;
    width: 0;
    height: 0;
    border-left: 15px solid transparent; /* 왼쪽 변 */
    border-right: 15px solid transparent; /* 오른쪽 변 */
    border-bottom: 35px solid #E6EFDD; /* 아랫면 */
    transform: rotate(270deg); /* 270도(시계 반대방향) 회전 */
    top: 10px; /* 기본 위치 유지 */
    left:20px;
}
#it4-6{
    grid-area:it4-6;
}
#it4-7{
    grid-area:it4-7;
}
#it4-8{
    grid-area:it4-8;
    position: relative;
    width: 0;
    height: 0;
    border-left: 20px solid transparent; /* 왼쪽 변 */
    border-right: 20px solid transparent; /* 오른쪽 변 */
    border-bottom: 40px solid #E6EFDD; /* 아랫면 */
    transform: rotate(270deg); /* 270도(시계 반대방향) 회전 */
    top: 25px; /* 기본 위치 유지 */
    left:8px;
}
#it4-9{
    grid-area:it4-9;
}

#my-section3 {
    display: grid;
    grid-template-rows: 1px 1.5fr 1px;
    grid-template-columns: 15fr 1fr 1fr 1fr 15fr;
    grid-template-areas: 
        ". . . . ."
        ". it10 it11 it12 ."
        ". . . . .";
    max-height: 133px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20) inset;
}

#it10 {
    grid-area: it10;
    margin:50px;
}

#it11 {
    grid-area: it11;
    margin:50px;
}

#it12 {
    grid-area: it12;
    margin:50px;
}

