body {
    margin: 0; /* 기본 마진 제거 */
    padding: 0; /* 기본 패딩 제거 */
}
#my-section1 {
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden; /* 넘치는 부분 숨김 */
    text-overflow: ellipsis; /* 넘치는 부분에 대한 점 표시 (...) */
    display: grid;
    grid-template-rows: 31px 1fr 31px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        ". . ."
        "it1 it2 ."
        ". . .";
    max-height: 130px;
    border-bottom: 0.5px solid #000;
}

#it1 {
    grid-area: it1;
    padding-left:27px;
}

#it2 {
    grid-area: it2;
    color: #000;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

#my-section2 {
    display: grid;
    grid-template-rows: 84vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "it3 it4";
    max-height: 940px;
}
#left-section{
    grid-area:it3;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
    padding:40px;
}
#right-section{
    grid-area:it4;
    background: #F9F9F9;
    padding:40px;
}
#right-box{
    background-color: #E6EFDD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10) inset;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
    padding:20px;
}
#day{
    color: #000;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#friday{
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left:30px;
    }

#right-box{
    display: grid;
    grid-template-rows: 1fr 0.05fr 1fr 6fr;
    grid-template-areas: 
        "it5"
        "it6"
        "it7"
        "it8";
    max-height: 940px;
    grid-gap:10px;
}
#it5{
    grid-area: it5;
}
#it6{
    grid-area: it6;
    background: #000;
}
#it7{
    grid-area: it7;
    color: #000;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#it8{
    grid-area: it8;
}