body {
    margin: 0px;
    padding: 0px;
}

.marigold-page-template-2 {
    height: 100vh;
    background-color: #F2F2F2;

    display: grid;
    grid-template-rows: 100px calc(100vh - 100px);
    grid-template-areas: "body-top"  "body-mid";
}

.body-top {
    background-color: #FFFFFF;
    grid-area: body-top;
    padding: 20px 40px 20px 40px;

    display: grid;
    grid-template-columns: 0.8fr 1fr 0.8fr;
    grid-template-areas: "body-top-l body-top-c body-top-r";
}

#body-top-l {
    grid-area: body-top-l;

    display: grid;
    place-items: center start;
}

.leaf-title {
    width:48px;
    height:48px;
}

.font-content-title {
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
}

#body-top-c {
    grid-area: body-top-c;

    display: grid;
    place-items: center center;
}

#body-top-r {
    grid-area: body-top-r;

    display: flex;
    align-items: center end;
    justify-content: flex-end;
}

.material-icons.icon-bell-style {
    font-size: 48px;
}

.material-icons.icon-bell-style:hover {
    background-color: #EEEEEE;
}

.material-icons.icon-bell-style:active {
    background-color: #F2F2F2;
}

.body-mid {
    grid-area: body-mid;
    
}

.main-section-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    height: calc(100vh - 140px);
}

#left-section{
    /* grid-area:it3; */
    background: #FFF;
    padding:40px;

    display: grid;
    grid-template-rows: 1fr 20px 50px;
    grid-template-areas: 
    "calendar"
    "."
    "write-button";
}
#right-section{
    /* grid-area:it4; */
    background: #F9F9F9;
    padding:40px;
}


#right-box{
    background-color: #E6EFDD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10) inset;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
    padding:20px;
}
#day{
    color: #000;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#friday{
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left:30px;
    }

#right-box{
    display: grid;
    grid-template-rows: 1fr 0.05fr 1fr 6fr;
    grid-template-areas: 
        "it5"
        "it6"
        "it7"
        "it8";
    grid-gap:10px;
}
#it5{
    grid-area: it5;
}
#it6{
    grid-area: it6;
    background: #000;
}
#it7{
    grid-area: it7;
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#it8{
    grid-area: it8;
}

.calendar {
    grid-area: calendar;

    background-color: #fff;
    border-radius: 8px;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    height: 80%;
    text-align: center;
}

.year {
    font-size: 24px;
    margin-top: 20px;
}

.month {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.month-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    text-align: center;
}

.day {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.today {
    background-color: #BAE291;
    color: #fff;
}

.prev-month,
.next-month {
    color: #ccc;
}

.prev-month:hover,
.next-month:hover {
    color: #000;
    cursor: pointer;
}
.selected-day {
    background-color: #BAE291; 
    color: #fff; 
}
#writeButton {
    grid-area: writeButton;
}

.write-button {
    display: none; /* 초기에는 숨김 처리 */
    position: absolute;
    bottom: 60px;
    right: calc(50vw + 20px);
    background-color: #BAE291;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.write-button:hover {
    background-color: #a2c57f;
}
