body {
    background-color: #E6EFDD;
    margin: 0; /* 기본 마진 제거 */
    padding: 0; /* 기본 패딩 제거 */
}
#my-section1 {
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden; /* 넘치는 부분 숨김 */
    text-overflow: ellipsis; /* 넘치는 부분에 대한 점 표시 (...) */
    display: grid;
    grid-template-rows: 31px 1fr 31px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        ". . ."
        "it1 it2 ."
        ". . .";
    max-height: 133px;
    border-bottom: 0.5px solid #000;
}

#it1 {
    grid-area: it1;
    color: black;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 61px;
}

#it2 {
    grid-area: it2;
    color: #000;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

#my-section2 {
    display: grid;
    grid-template-rows:  4fr 4fr 0.3fr ;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "it4"
        " it5 "
        " it6 ";
    max-height:800px;
    border-radius: 30px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left:120px;
    margin-right:120px;
    margin-top:33px;
    margin-bottom:33px;
    padding:50px;
    max-height: 730;
}
.section-item2{
    max-height:50px;
}
#profile-page-profile{
    display: flex;
    justify-content: space-between;
    max-height:250px;
}
#profile-page-picture{
    border-radius: 250px;
    border: 1px solid #000;
    background:white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden; /* 넘치는 부분 숨김 */
    text-overflow: ellipsis; /* 넘치는 부분에 대한 점 표시 (...) */
}
#profile-page-name{
    color: #000;
    font-family: Inter;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden; /* 넘치는 부분 숨김 */
    text-overflow: ellipsis; /* 넘치는 부분에 대한 점 표시 (...) */
    margin-top:50px;
}
#profile-page-birthday{
    color: #000;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top:110px;
    margin-right:250px;
}
#profile-page-address,#profile-page-phone{
    color: #000;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#profile-page-address-detail,#profile-page-phone-detail{
    color: #000;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}
#profile-page-edit{
    width: 320px;
    height: 87px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #E6EFDD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35), 0px 4px 4px 0px rgba(0, 0, 0, 0.10) inset;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-align: center;
    padding-top:20px;
}
#it4 {
    grid-area: it4;
}
#it5 {
    grid-area: it5;
    max-height:250px;
    padding-left:50px;
    padding-top:20px;
}
#it6 {
    grid-area: it6;
    display: flex;
    justify-content: flex-end; /* 오른쪽으로 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
}


#my-section3 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 15fr 1fr 1fr 1fr 15fr;
    grid-template-areas: 
        ". it10 it11 it12 .";
    max-height: 133px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20) inset;
}

#it10 {
    grid-area: it10;
    margin:50px;
}

#it11 {
    grid-area: it11;
    margin:50px;
}

#it12 {
    grid-area: it12;
    margin:50px;
}

