@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;700&display=swap');
/*font*/
#page-title{
    color: #000;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.title-font{
    color: #000;
    text-align: justify;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.contents-font-30{
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.contents-font-35{
    color: #000;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.contents-font-25{
    color: #000;
    text-align: justify;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.contents-font-semibold{
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/*box*/
#header{
    display: flex;
    width: 1916px;
    align-items: center;
    border-bottom: 0.5px solid #000;
    background: #FFF;
}
#body-section{
    background: #F9F9F9;
}
#left-section, #center-section{
    width: 483px;
    height: 849px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35), 0px 4px 4px 0px rgba(0, 0, 0, 0.10) inset;
}
#topside, #bottom{
    width: 786px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35), 0px 4px 4px 0px rgba(0, 0, 0, 0.10) inset;
}
/*position*/
#pie-chart-set {
    position: relative;
    text-align: center;
  }

#activity-level {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* 가운데로 정렬된 요소가 pie-chart 위에 올라오도록 설정 */
}
p{
    margin: 0;
}
#topside-header, #topside-body, #bottom-header, #bottom-body{
    display: flex;
    align-items: center; 
}
#topside-title, #bottom-title{
    margin-right: 40px;
}
.reconmmendation-img, .activity-recommendation{
    margin-right: 15px;
}
#left-section-title{
    margin-left: 23px;
}
/*grid*/
#grid{
    display: grid;
    grid-template-rows: 131px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "body-section"
}
#header{
    display: grid;
    grid-template-rows: 131px;
    grid-template-columns: 1.6fr 2fr;
    grid-template-areas:
    "back-button page-title"
}
#body-section{
    display: grid;
    grid-template-rows: 37px 1fr 63px;
    grid-template-columns: 50px 1fr 30px 1fr 30px 1.6fr 50px;
    grid-template-areas:
    ". . . . . . ."
    ". left-section . center-section . right-section ."
    ". . . . . . ."
}
#left-section{
    display: grid;
    grid-template-rows: 47px 47px 117px 369px 84px 36px 36px 113px;
    grid-template-columns: 17px 1fr 17px;
    grid-template-areas:
    ". . ."
    ". left-section-title ."
    ". . ."
    ". chart ."
    ". . ."
    ". left-section-contents-1 ."
    ". left-section-contents-2 ."
    ". . ."
}
#center-section{
    display: grid;
    grid-template-rows: 47px 47px 78px 40px 40px 40px 40px 268px 65px 40px 85px;
    grid-template-columns: 40px 1fr 53px;
    grid-template-areas:
    ". . ."
    ". center-section-title ."
    ". . ."
    ". today-goal ."
    ". . ."
    ". today-activities ."
    ". . ."
    ". pie-chart-set ."
    ". . ."
    ". center-section-achievement-rate ."
    ". . ."
}
#right-section{
    display: grid;
    grid-template-rows: 400px 50px 400px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "topside"
    "."
    "bottom"
}
#topside{
    display: grid;
    grid-template-rows: 47px 60px 78px 1fr 100px;
    grid-template-columns: 40px 1fr 0px;
    grid-template-areas:
    ". . ."
    ". topside-header ."
    ". . ."
    ". topside-body ."
    ". . ."
}
#bottom{
    display: grid;
    grid-template-rows: 47px 60px 78px 1fr 100px;
    grid-template-columns: 40px 1fr 40px;
    grid-template-areas:
    ". . ."
    ". bottom-header ."
    ". . ."
    ". bottom-body ."
    ". . ."
}
#header{
    grid-area: header;
}
#back-button{
    grid-area: back-button;
}
#page-title{
    grid-area: page-title;
}
#body-section{
    grid-area: body-section;
}
#left-section{
    grid-area: left-section;
}
#left-section-title{
    grid-area: left-section-title;
}
#chart{
    grid-area: chart;
}
#left-section-contents-1{
    grid-area: left-section-contents-1;
}
#left-section-contents-2{
    grid-area: left-section-contents-2;
}
#center-section{
    grid-area: center-section;
}
#center-section-title{
    grid-area: center-section-title;
}
#today-goal{
    grid-area: today-goal;
}
#today-activities{
    grid-area: today-activities;
}
#pie-chart-set{
    grid-area: pie-chart-set;
}
#pie-chart{
    grid-area: pie-chart;
}
#activity-level{
    grid-area: activity-level;
}
#activity-level{
    grid-area: activity-level;
}
#activity-level{
    grid-area: activity-level;
}
#activity-level{
    grid-area: activity-level;
}
#center-section-achievement-rate{
    grid-area: center-section-achievement-rate;
}
#right-section{
    grid-area: right-section;
}
#topside{
    grid-area: topside;
}
#topside-header{
    grid-area: topside-header;
}
#topside-body{
    grid-area: topside-body;
}
#topside-title{
    grid-area: topside-title;
}
#topside-contets-1{
    grid-area: topside-contets-1;
}
#topside-contets-2{
    grid-area: topside-contets-2;
}
#man{
    grid-area: man;
}
#activity-recommendation-1{
    grid-area: activity-recommendation-1;
}
#activity-recommendation-2{
    grid-area: activity-recommendation-2;
}
#activity-recommendation-3{
    grid-area: activity-recommendation-3;
}
#activity-recommendation-4{
    grid-area: activity-recommendation-4;
}
#bottom{
    grid-area: bottom;
}
#bottom-header{
    grid-area: bottom-header;
}
#bottom-body{
    grid-area: bottom-body;
}
#bottom-title{
    grid-area: bottom-title;
}
#bottom-contets-1{
    grid-area: bottom-contets-1;
}
#bottom-contets-2{
    grid-area: bottom-contets-2;
}
#reconmmendation-1-img{
    grid-area: reconmmendation-1-img;
}
#reconmmendation-2-img{
    grid-area: reconmmendation-2-img;
}