@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;700&display=swap');
/*font*/
#page-title{
    color: #000;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.menu-title-font{
    color: #000;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.contents-font{
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.graph-legend-title{
    color: #000;
    /*font-family: ?????;*/
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 32.5px */
}
.graph-legend-analysis-details{
    color: var(--Grey, #747474);
    /*font-family: ?????;*/
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}
/*box*/
#header{
    display: flex;
    width: 1916px;
    align-items: center;
    border-bottom: 0.5px solid #000;
    background: #FFF;
}
.menu-title-box{
    width: 553px;
    height: 141px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.07) inset;
}
.menu-body-box{
    width: 553px;
    height: 827px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35), 0px 4px 4px 0px rgba(0, 0, 0, 0.10) inset;
}
#activity-part{
    width: 233px;
    height: 63px;
    flex-shrink: 0;
    background: #BAE291;
}
#inactivity-part{
    width: 233px;
    height: 63px;
    flex-shrink: 0;
    background: #D9D9D9;
}
/*position*/
p{
    margin: 0;
}
.menu-title-box {
    display: flex;
    align-items: center;
    padding: 40px; /* 원하는 패딩 크기를 지정합니다. */
    box-sizing: border-box; /* 패딩을 포함한 크기를 유지합니다. */
}
.graph-legend-array{
    align-items: center;
}
#activity-bar {
    display: flex;
}
.learn-more{
    margin-left: 250px;
}
#depression-bar{
    margin-left: 24px;
}
#learn-more-right{
    margin-left: 200px;
}
/*grid*/
#grid{
    display: grid;
    grid-template-rows: 131px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "body-section"
}
#header{
    display: grid;
    grid-template-rows: 131px;
    grid-template-columns: 1.3fr 2fr;
    grid-template-areas:
    "back-button page-title"
}
#body-section{
    display: grid;
    grid-template-rows: 37px 1fr 85px;
    grid-template-columns: 70px 553px 70px 553px 70px 553px 70px;
    grid-template-areas: 
    ". . . . . . ."
    ". left-section . center-section . right-section ."
    ". . . . . . ."
}
#menu-body-left{
    display: grid;
    grid-template-rows: 141px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "menu-title-left"
    "menu-body-left-array" 
}
#menu-body-left-array{
    display: grid;
    grid-template-rows: 73px 280px 35px 1fr 20px 48px 20px;
    grid-template-columns: 20px 1fr 20px;
    grid-template-areas: 
    ". . ."
    ". graph-section ."
    ". . ."
    ". ment-left ."
    ". . ."
    ". learn-more-left ."
    ". . ."
    
}
#graph-legend-deep-sleep-contents{
    display: grid;
    grid-template-rows: 40px 0px 40px;
    grid-template-columns: 180px;
    grid-template-areas: 
    "graph-legend-deep-sleep-title"
    "."
    "graph-legend-deep-sleep-analysis-details"
}
#graph-legend-shallow-sleep-contents{
    display: grid;
    grid-template-rows: 40px 40px;
    grid-template-columns: 180px;
    grid-template-areas: 
    "graph-legend-shallow-sleep-title"
    "graph-legend-shallow-sleep-analysis-details"
}
#graph-legend-awake-contents{
    display: grid;
    grid-template-rows: 40px 40px;
    grid-template-columns: 180px;
    grid-template-areas: 
    "graph-legend-awake-title"
    "graph-legend-awake-analysis-details"
}
#graph-legend-deep-sleep{
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 40px 15px 180px;
    grid-template-areas: 
    "graph-legend-deep-sleep-img . graph-legend-deep-sleep-contents"
}
#graph-legend-shallow-sleep{
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 40px 15px 180px;
    grid-template-areas: 
    "graph-legend-shallow-sleep-img . graph-legend-shallow-sleep-contents"
}
#graph-legend-awake{
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 40px 15px 180px;
    grid-template-areas: 
    "graph-legend-awake-img . graph-legend-awake-contents"
}
#graph-legend{
    display: grid;
    grid-template-rows: 80px 20px 80px 20px 80px;
    grid-template-columns: 180px;
    grid-template-areas: 
    "graph-legend-deep-sleep"
    "."
    "graph-legend-shallow-sleep"
    "."
    "graph-legend-awake"
}
#graph-section{
    display: grid;
    grid-template-rows: 280px;
    grid-template-columns: 237px 36px 180px;
    grid-template-areas: 
    "sleep-graph . graph-legend"
}
#menu-body-center{
    display: grid;
    grid-template-rows: 141px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "menu-title-center"
    "menu-body-center-array" 
}
#menu-body-center{
    display: grid;
    grid-template-rows: 141px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "menu-title-center"
    "menu-body-center-array" 
}
#menu-body-center-array{
    display: grid;
    grid-template-rows: 139px 112px 124px 1fr 20px 48px 20px;
    grid-template-columns: 20px 1fr 20px;
    grid-template-areas: 
    ". . ."
    ". activity-graph ."
    ". . ."
    ". ment-center ."
    ". . ."
    ". learn-more-center ."
    ". . ."
}
#activity-graph{
    display: grid;
    grid-template-rows: 63px 48px;
    grid-template-columns: 26px 466px;
    grid-template-areas: 
    ". activity-bar"
    ". activity-level" 
}
#menu-body-center{
    display: grid;
    grid-template-rows: 141px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "menu-title-center"
    "menu-body-center-array" 
}
#menu-body-right-array{
    display: grid;
    grid-template-rows: 139px 63px 171px 224px 20px 48px 20px;
    grid-template-columns: 20px 1fr 20px;
    grid-template-areas: 
    ". . ."
    ". depression-bar ."
    ". . ."
    ". ment-right ."
    ". . ."
    ". learn-more-right ."
    ". . ."
}
#header{
    grid-area: header;
}
#back-button{
    grid-area: back-button;
}
#page-title{
    grid-area: page-title;
}
#body-section{
    grid-area: body-section;
}
#left-section{
    grid-area: left-section;
}
#menu-title-left{
    grid-area: menu-title-left;
}
#menu-body-left{
    grid-area: menu-body-left;
}
#sleep-graph{
    grid-area: sleep-graph;
}
#graph-legend{
    grid-area: graph-legend;
}
#graph-legend-deep-sleep{
    grid-area: graph-legend-deep-sleep;
}
#graph-legend-deep-sleep-img{
    grid-area: graph-legend-deep-sleep-img;
}
#graph-legend-deep-sleep-contents{
    grid-area: graph-legend-deep-sleep-contents;
}
#graph-legend-deep-sleep-title{
    grid-area: graph-legend-deep-sleep-title;
}
#graph-legend-deep-sleep-analysis-details{
    grid-area: graph-legend-deep-sleep-analysis-details;
}
#graph-legend-shallow-sleep{
    grid-area: graph-legend-shallow-sleep;
}
#graph-legend-shallow-sleep-img{
    grid-area: graph-legend-shallow-sleep-img;
}
#graph-legend-shallow-sleep-contents{
    grid-area: graph-legend-shallow-sleep-contents;
}
#graph-legend-shallow-sleep-title{
    grid-area: graph-legend-shallow-sleep-title;
}
#graph-legend-shallow-sleep-analysis-details{
    grid-area: graph-legend-shallow-sleep-analysis-details;
}
#graph-legend-awake{
    grid-area: graph-legend-awake;
}
#graph-legend-awake-img{
    grid-area: graph-legend-awake-img;
}
#graph-legend-awake-contents{
    grid-area: graph-legend-awake-contents;
}
#graph-legend-awake-title{
    grid-area: graph-legend-awake-title;
}
#graph-legend-awake-analysis-details{
    grid-area: graph-legend-awake-analysis-details;
}
#ment-left{
    grid-area: ment-left;
}
#learn-more-left{
    grid-area: learn-more-left;
}
#center-section{
    grid-area: center-section;
}
#menu-title-center{
    grid-area: menu-title-center;
}
#menu-body-center{
    grid-area: menu-body-center;
}
#activity-graph{
    grid-area: activity-graph;
}
#activity-bar{
    grid-area: activity-bar;
}
#activity-part{
    grid-area: activity-part;
}
#inactivity-part{
    grid-area: inactivity-part;
}
#activity-level{
    grid-area: activity-level;
}
#ment-center{
    grid-area: ment-center;
}
#learn-more-center{
    grid-area: learn-more-center;
}
#right-section{
    grid-area: right-section;
}
#menu-title-right{
    grid-area: menu-title-right;
}
#menu-body-right{
    grid-area: menu-body-right;
}
#ment-right{
    grid-area: ment-right;
}
#learn-more-right{
    grid-area: learn-more-right;
}
#graph-section{
    grid-area: graph-section;
}
#menu-body-left-array{
    grid-area: menu-body-left-array;
}
#menu-body-center-array{
    grid-area: menu-body-center-array;
}
#menu-body-right-array{
    grid-area: menu-body-right-array;
}
#depression-bar{
    grid-area: depression-bar;
}