body {
    margin: 0px;
    padding: 0px;
}

.marigold-page-template-2 {
    height: 100vh;
    background-color: #F2F2F2;

    display: grid;
    grid-template-rows: 100px calc(100vh - 100px);
    grid-template-areas: "body-top"  "body-mid";
}

.body-top {
    background-color: #FFFFFF;
    grid-area: body-top;
    padding: 20px 40px 20px 40px;

    display: grid;
    grid-template-columns: 0.8fr 1fr 0.8fr;
    grid-template-areas: "body-top-l body-top-c body-top-r";
}

#body-top-l {
    grid-area: body-top-l;

    display: grid;
    place-items: center start;
}

.leaf-title {
    width:48px;
    height:48px;
}

.font-content-title {
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
}

#body-top-c {
    grid-area: body-top-c;

    display: grid;
    place-items: center center;
}

#body-top-r {
    grid-area: body-top-r;

    display: flex;
    align-items: center end;
    justify-content: flex-end;
}

.material-icons.icon-bell-style {
    font-size: 48px;
}

.material-icons.icon-bell-style:hover {
    background-color: #EEEEEE;
}

.material-icons.icon-bell-style:active {
    background-color: #F2F2F2;
}

.body-mid {
    grid-area: body-mid;
    padding: 20px 20px 20px 20px;

    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1px 4fr 20px 4fr 20px 4fr 1px;
    grid-template-areas:
    
    ". left-section .center-section .right-section ."
    
}

#play-list {
    grid-area: play-list;
}

#play-card {
    grid-area: play-card;

}

#play-timer {
    grid-area: play-timer;

}

#left-section{
    grid-area: left-section;
}

#center-section{
    grid-area: center-section;
}

#right-section{
    grid-area: right-section;
}

.contents-font{
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}

.menu-title-font{
    color: #000;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 30px;
}

.section {
    height: 100%;
}
.menu-body-box{
    /* width: auto; */
    height: 100%;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
}

#menu-body-left{
    display: grid;
    /* max-height: 773px; */
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "menu-title-left"
    "menu-body-left-array" 
}
#menu-body-left-array{
    display: grid;
    grid-template-rows: 1fr 20px 180px 20px 100px 20px;
    grid-template-columns: 20px 1fr 20px;
    grid-template-areas: 
    ". graph-section ."
    ". . ."
    ". ment-left ."
    ". . ."
    ". learn-more-left ."
    ". . ."
}

.menu-title-box{
    max-height: 80px;
    align-content: center;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.07) inset;
    display: grid;
    margin: 15px;
    box-sizing: border-box;
}

#graph-section{
    display: grid;
    grid-template-rows: 280px;
    grid-template-columns: 237px 36px 180px;
    grid-template-areas: 
    "sleep-graph . graph-legend"
}

#graph-section{
    grid-area: graph-section;
}

#sleep-graph{
    grid-area: sleep-graph;
}

#graph-legend{
    grid-area: graph-legend;
}
#graph-legend{
    display: grid;
    grid-template-rows: 80px 20px 80px 20px 80px;
    grid-template-columns: 180px;
    grid-template-areas: 
    "graph-legend-deep-sleep"
    "."
    "graph-legend-shallow-sleep"
    "."
    "graph-legend-awake"
}

#ment-left{
    grid-area: ment-left;
}
#learn-more-left{
    grid-area: learn-more-left;
}

#menu-body-center{
    display: grid;
    /* max-height: 773px; */
    grid-template-rows: 0.5fr 4fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "menu-title-center"
    "menu-body-center-array" 
}

#menu-body-center-array{
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    /* max-height: 773px; */
    padding: 20px;
    grid-template-rows: 1fr 20px 200px 20px 200px;
    /* grid-template-rows: 20px 3fr 20px 2fr 20px 0.5fr 20px; */
    /* grid-template-columns: 20px 1fr 20px; */
    grid-template-areas: 
    "activity-graph"
    "."
    "ment-center"
    "."
    "learn-more-center"
}

#menu-body-center-array{
    grid-area: menu-body-center-array;
}

#activity-graph{
    grid-area: activity-graph;
}

#activity-graph{
    display: grid;
    grid-template-rows: 200px 48px;
    grid-template-columns: 26px 466px;
    grid-template-areas: 
    ". activity-bar"
    ". activity-level" 
}

#ment-center{
    grid-area: ment-center;
}
#learn-more-center{
    grid-area: learn-more-center;
}

#menu-body-right-array{
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 20px 200px 20px 200px;
    grid-template-areas: 
    "depression-bar"
    "."
    "ment-right"
    "."
    "learn-more-right"
}
#depression-bar{
    grid-area: depression-bar;
    display: grid;
    place-items: center center;
}
#ment-right{
    grid-area: ment-right;
}
#learn-more-right{
    grid-area: learn-more-right;
}

#menu-body-right{
    grid-area: menu-body-right;
    display: grid;
    /* max-height: 773px; */
    grid-template-rows: 0.5fr 4fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "menu-title-center"
    "menu-body-center-array" 
}

.sleppCircle{
    height: 237px;
    width: 270px;
    
}

.resultSleep{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.resultStep{
    /* margin-top: 30px; */
    font-size: 25px;
}